::selection {
    color: #daa466;
    background: #865e31;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: #FCD7AD;
}

.msgAlertGood{
    color: #20ff00;
    background: #456d22ce;
    padding: 5px;
    border: solid 1px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.hoverDiv{
    position: fixed;
    opacity: 1;
    height: 100%;
    width: 100%;
    pointer-events: none;
    animation: hideAfter 1s 4s;
    animation-fill-mode: ;
}
@keyframes hideAfter{
    0%{

    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.msgAlertBad{
    color: #ff5656;
    background: #ff00001f;
    padding: 5px;
    border: solid 1px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    height: inherit;
    background: #FCD7AD;
    background: linear-gradient(45deg, #FCD7AD 12.5%, #fdd5a8 12.5%, #fdd5a8 37.5%, #FCD7AD 37.5%, #FCD7AD 62.5%, #fdd5a8 62.5%, #fdd5a8 87.5%, #FCD7AD 87.5%);
    background-size: 20px 20px;
    background-position: 50px 50px;
}

.content2 {
    display: flex;
    justify-content: space-around;
    height: inherit;
    background: #FCD7AD;
}

input[type=text],input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#radio {
    margin-right: 20px;
}

.submit {
    background-color: #4CAF50;
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}

.song button {
    border: none;
    color: black;
    padding: 7px 15px;
    text-align: center;
    font-size: .7em;
    margin: 4px 2px;
    cursor: pointer;
    border:solid #72471f 2px;
    border-radius: 2px;
    background-color: #6b4c2f59;
}
.song button:disabled{
    background-color: gray;
}
.Contact {
    margin: 60px;
}

.description {
    width: 66vw;
    margin-bottom: 10vmin;
    max-width: 900px;
    height: 70vh;
    /* display: flex; */
}
.onethird{
    width: 33%;
    display: inline-block;
}
.description.small{
    display: block;
}
.description>h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 1vmin;
}

.description>button {
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    display: inline;
    cursor: pointer;
    float: right;
    background-color: #A57548;
}

.small {
    max-height: 400px;
    overflow-y: hidden;
}

.aside {
    background: #facfa1;
    width: 23vw;
    height: 60vh;
    box-shadow: 0px 10px 20px -11px #A57548;
}

.content>* {
    /*padding: 2vmin;*/
    margin-top: 5vh;
    color: #613f1f;
    border-radius: 10px;
}



a {
    text-decoration: none;
    color: gray;
}



footer {
    background: #A57548;
    align-self: flex-end;
    width: -webkit-fill-available;
    padding: 2vmin;
}

.aside li {
    list-style: none;
    padding: 1vmin;
}

.aside a {
    color: #A57548;
}

.aside a:hover {
    color: #d18844;
}
.imgHolder{
    height: 15vmin;
    width: 15vmin;
}
.song h1{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.song img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}
.song img:hover{
    transform: scale(2.5);
}


.song {
    margin-bottom: 1vmin;
    background-color: #ffd2a7;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -11px #A57548;
    padding: 1vmin;
    display: inline-block;
    width: 30%;
}

.song>div {
    width: 50%;
    display: inline-block;
}

.displayStock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A57548;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    left: -100px;
    width: 10vmin;
    text-align: center;
    padding-left: 10px;
    transition: left .5s;
}

.logo {
    font-size: 2em;
}
nav>span{
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #bb7838;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #A57548;
}


@media screen and (max-width: 1000px) {
    .content {

        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .aside,
    .description {
        width: 70vw;
        height: inherit;
    }
    nav>span{
        display: inherit;
    }
    .pagesL{
        display: none;
    }
    body {
       
    }

    .song {
        width: 49%;
    }
    .input{
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
}